<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Trimite mesaj</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/trimite-mesaj">Minciuni</a></li>
          <li><a href="/mesaje-primite">Povesti</a></li>
          <li><a href="/adevarate">Adevăruri</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Trimite un mesaj</h1>
      <form action="/trimite-mesaj" method="POST">
        <% if (error) { %>
        <script>
          window.alert("<%= error %>");
        </script>
        <% } %>
        <input
          type="text"
          name="destinatar"
          placeholder="Numele de utilizator destinatar"
          required
        />
        <textarea name="mesaj" placeholder="Povestea falsa" required></textarea>
        <input type="submit" value="Trimite" />
      </form>
      <ol>
        <% users.forEach(function(user) { %>
        <li><%= user.username %></li>
        <% }); %>
      </ol>
    </main>
    <footer>
      <a href="/regulament">Regulament</a>
      <a href="/joc">Login</a>
    </footer>
  </body>
</html>
